{% extends "base.html" %}
{% block title %}Home{% endblock %} 
{% block content %}
<h1 style="color: orangered">Hello hope you are having a fantastic day</h1>
<br/>
<br/>
<h2 style="color:orangered">To apply for a loan you will need the following:</h2>
<ul> <!--Unordered list!-->
    <li>ID Copy</li>
    <li>Proof Of Residence</li>
    <li>Copy of Credit Report</li>
</ul>
<br/>
<br/>

<p> <b><big>If you do not have a credit report on hand, it's ok we got you. 
    Please visit the following site to get your credit score: <a href='https://www.clearscore.com/za' target='_blank'><h3 style="color:blue">ClearScore.com</h3></a>
</big> </b></p> 
<br/>
<br/>

<h2 style="color:orangered">The loan application process:</h2>
<ol> <!--Ordered list!-->
    <li>Apply for a loan using the Alpine Loan Application app</li>
     <li>Get your temporary loan-status after submitting your application</li>
     <li>The application will be reviewed along with the requested documents by the officials at the loan-department</li>
     <li>An email will then be sent determining the status of your application</li>
</ol>

    <button type="submit" onclick="window.location.href='/Upload'"; class="btn btn-primary">Start Application</button>

    
</form>
{% endblock %}